@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
/* ==========================
   EXPERIENCE TIMELINE
========================== */

@media screen and (max-width: 1170px) {

  /* Timeline line */
  .vertical-timeline::before {
    left: 18px !important;
  }

  /* Circle */
  .vertical-timeline-element-icon {
    left: 0 !important;
    width: 42px !important;
    height: 42px !important;
    margin-left: 0 !important;
  }

  /* Card */
  .vertical-timeline-element-content {
    margin-left: 60px !important;
    width: calc(100% - 75px) !important;
    padding: 22px !important;
    border-radius: 18px !important;
  }

  /* Date */
  .vertical-timeline-element-date {
    display: block !important;
    float: none !important;
    margin-top: 18px;
    color: #bdbdbd !important;
    font-weight: 600;
  }
}